## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

## Angular
node_modules/
dist/
.angular/
out-tsc/
tmp/
coverage/
e2e/test-output/

## Environment files
.env

## TypeScript cache
*.tsbuildinfo

## Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Others
*.cache
*.dll
*.exe
*.pdb
/package-lock.json
/yarn.lock
